html {
  height: 100vh;
  width: 100vw;
  font-size: 1.5vw;
}


body {
  background-image: url(Images/Templates-x\ -\ Wallpapers-Light.png);
  background-repeat: no-repeat;
  margin:0px ;
  height: 100%;
  background-size: cover;
}
.name {
  font-family: AppleFont;
  color: rgba(255, 255, 255, 0.75);
 font-size: .75em;
}

.container {
  display: grid;
  grid-template-columns: 90.27% auto;
  grid-template-rows: 2.7% auto;
  margin: 0px;
  height: inherit;
}
.topbar {
  grid-column: 1/ span 2;
  grid-row: 1;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  
}



.side-panel {
display: flex;
align-content: space-around;

 
  margin-bottom: 53.57%;
  margin-right: 5px;
}

.notside-panel {
  display: grid;
  grid-template-rows: auto 9.4339%;
  
}
.dock-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 110.76%;
  background-color: rgb(94,110,175,0.5);
  border-radius: 40px;
  

}

.folders-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end, stretch;
  position: relative;
  justify-content: space-around;
}


 @font-face{
   font-family: AppleFont;
   src: url(SF-Pro-Rounded-Light.otf);
 }

 .text {
  text-align: center;
  font-family: AppleFont;
  color: white;
}



.folder {
  position: relative;
  top: 0;
  transition: top ease-in-out .5s;

}
.folder:hover {
  top: -3%;
}
.dock {
  position: relative;
  top: 0;
  transition: top ease-in-out .4s;
  height: 100%;
  width: 5.2083%;
}
.dock:hover {
  top: -25.31%;
  position: relative;
  
}
.note {
  display: flex;
  justify-content: center;
}
.divider {
  opacity: .7;
}

.menubar {
width: 88vw;
}
.menubar > img {
  width: 100vw;
}
.name {
margin-right: 2%;
align-self: center;
}



.notepad-wrapper {
  height: 96.66%;
  display: grid;
  grid-template-columns: 7.69% 53.85% auto ;
  grid-template-rows: 25.714% 5.714%  68% auto;
}


.notepad {
  grid-column: 2;
  grid-row: 3;
  background-color: aliceblue;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  padding-left: 10px;
  padding-top: 10px;

}
.notepad-header {
  grid-column: 2;
  grid-row: 2;
  background-color: rgb(213, 168, 37);
  border-top-right-radius: 1vw;
  border-top-left-radius: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notepad-buttons {
  padding-left: 10px; 
}
.notepad-buttons > img {
  width: 3.611vw;
  height: 1.4634vh;
}
.right-side > img {
  width: 3.611vw;
  height: 1.4634vh;
}
.notepad-header-title {
  font-family: AppleFont;
  color: white;
  font-size: 1.5em;
}
.right-side {
  opacity: 0;
  padding-right: 10px;

}

.notepad-text {
  font-family: AppleFont;
  color: rgb(53,53,53);
  font-size: 1.24em;
}

.notepad-text > p {
  display: inline-block;
  line-height: 1.75;
 
}



.blinking-cursor {
  font-weight: 100;
  font-size: 1.24em;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
